<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title> {% if page.title %} {{ page.title }} | {% endif %} Volodymyr Dubyna, Developer </title>
    <link href="/css/bootstrap.css" rel="stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/pygments.css" rel="stylesheet" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="/">Development</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/blog">Posts</a></li>
                    <li><a href="/about.html">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>


<div class="container">
    {{ header }}
    <!-- Example row of columns -->
    <div class="row">
        {{ content }}
    </div>

    <hr>

    <footer>
        <p>&copy; Volodymyr Dubyna 2012</p>
    </footer>

</div> <!-- /container -->

<script src="js/bootstrap.min.js"></script>
</body>
</html>
